**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Aa]uto[Bb]uild/
**/[Bb]uild [Vv]ersions/

**/.vscode/
**/.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
**/.idea/
*.VC.*
**/.DS_Store
*~
*.swp

*.log
*.pyc
